# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.env

# IDE / caches
.idea/
.vscode/
*.egg-info/

# Large datasets
data/raw/*.csv

# Models
models/*.pkl

# OS
.DS_Store